@model tp1.Models.Movie

<div class="card">
    <h2>Movie Details</h2>

    <p><strong>ID:</strong> @Model.Id</p>
    <p><strong>Name:</strong> @Model.Name</p>

    <div class="center">
        <a class="button" href="/Movie">Back to list</a>
    </div>
</div>

